*, *::before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
	font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 14px;
  font-weight: 400;
  min-width: 100px;
  min-height: 100%;
  direction: ltr;
  margin: 0;
  padding: 0;
}
img {
	display: block;
	max-width: 100%;
	vertical-align: top;
}
.section-cantainer {
	padding-left: 16px;
  padding-right: 16px;
  max-width: 1280px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
	.section-cantainer {
		padding-left: 0;
  	padding-right: 0;
  	max-width: 100%;
  }
}
.list-widget {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	background: #f6f6f6;
}
@media screen and (max-width: 767px) {
	.list-widget {
		-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
	}
}
.list-widget__col-1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 0 0 80px;
	background: #E6F7F9;
	-webkit-transition: 250ms;
	-o-transition: 250ms;
	transition: 250ms;
	width: 280px;
	min-height: 500px;
}
.list-widget__col-2 {
	padding: 50px 20px 80px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: 250ms;
	-o-transition: 250ms;
	transition: 250ms;
}
@media screen and (max-width: 767px) {
	.list-widget__col-1 {
		width: 100%;
	}
	.list-widget__col-2 {
		width: 100%;
	}
}
.person-image-block {
    margin-bottom: 50px;
}
.contact-block {
    margin-bottom: 50px;
}
.contact-block-title {
	position: relative;
  margin: 0;
  margin-bottom: 35px;
  padding-left: 30px;
  font-size: 20px;
  line-height: 32px;
  background: #00AEC7;
  font-weight: 600;
  color: #fff;
}
.contact-list {
	list-style: none;
	padding-left: 30px;
}
.contact-list li {
	display: block;
  position: relative;
  padding-right: 20px;
  margin-bottom: 15px;
  line-height: 20px;
  font-size: 16px;
}
.contact-list li:last-child {
	margin-bottom: 0;
}
.contact-list li a {
	color: #828282;
	text-decoration: none;
}
.education-block {
    margin-bottom: 50px;
}
.education-block-title {
	position: relative;
  margin: 0;
  margin-bottom: 35px;
  padding-left: 30px;
  font-size: 20px;
  line-height: 32px;
  background: #00AEC7;
  font-weight: 600;
  color: #fff;
}
.education-list {
	list-style: none;
	padding-left: 30px;
}
.education-list li {
	display: block;
  position: relative;
  padding-right: 20px;
  margin-bottom: 15px;
  line-height: 20px;
  font-size: 16px;
  color: #828282;
}
.education-list li a {
	color: #828282;
	text-decoration: none;
}
@media screen and (max-width: 767px) {
	.person-image-block img {
		margin: 0 auto;
	}
}



.page-footer {
	background: #333e48;
	padding: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.copy-block p {
	color: #ffffff;
}
@media screen and (max-width: 767px) {
	.page-footer {
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.copy-block {
		margin-top: 30px;
		margin-bottom: 30px;
	}
}